.btn {
  padding: .5em 1em;
  border: 1px solid #ddd;
  border-radius: 0.4em;
  font-size: 0.7em;
}
.btn.btn-no-bg {
  background: none;
}
.btn.btn-primary{
  background: rgb(121, 156, 250);
  color: #fff;
}
a.btn {
  font-size: 0.8em;
}
.btn span{
  display: flex;
  align-items: center;
}
.btn.has-left-icon {
  padding-left: 0;
}
.btn.btn-light {
  background: rgb(250, 250, 255);
  color: #333;
}
.btn .material-icons,
button .material-icons {
  font-weight: normal;
  padding: 0;
  font-size: 1.8em;
}
a.link {
  display: flex;
  align-items: center;
  background: transparent;
}

.dropdown-button{
  position: relative;
  display: inline-block;
  z-index: 10;
}
.dropdown-button button {
  /* border-radius: 0; */
  padding: .3em 1em;
}
.dropdown-button ul{
  border: 1px solid rgb(223, 215, 215);
  position: fixed;
}
.dropdown-button ul li {
  border-bottom: 1px solid rgb(223, 215, 215);
  font-size: .65em;
  white-space: nowrap;
  padding: .8em 1em;
  cursor: pointer;
  color: #333;
  /* background: #fff; */
}
.dropdown-button ul li:last-child{
  border-bottom: none;
}